<ion-view view-title="Financeiro">
  <ion-content>
  	<div class="bar bar-header bar-calm item-input-inset" style="display:flex;justify-content:center;align-items:center;">
  		<b>01/Ago/16 - 12/Dez/16</b>
  	</div>
		<div class="bar bar-header bar-stable item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Pesquisar" ng-model="pesquisar">
		  </label>
    </div>
  	<ion-list>
			<div ng-repeat="type in ctrl.types" ng-init="typeIndex = $index">
        <ion-item ng-click="ctrl.toggleGroup(typeIndex)"
                  class="ng-class: ctrl.typeClass(type)">
            <i class="icon" ng-class="ctrl.shownGroup[typeIndex] ? 'ion-arrow-down-c' : 'ion-arrow-right-c'"></i>
          &nbsp;
          <b>{{type.type}}</b>
          <span style="float: right;">
      			{{type.bets.length}}
    			</span>
        </ion-item>
        <ion-item class="item-game"
                  ng-repeat="bet in type.bets | filter: pesquisar"
                  ng-show="ctrl.shownGroup[typeIndex]">

					<div style="float: left">
						<span><b>{{bet.name}}</b></span><br>
						<span style="font-size: 12px">{{bet.date}}, {{bet.hour}}</span><br>
						<span style="font-size: 11px">{{bet.hash}}</span>
					</div>
					<div style="float: right; text-align: right;">
						<span style="font-size: 12px">R$ {{bet.betAmount}} | <b>R$ {{bet.jackpot}}</b></span><br>
						<span style="font-size: 12px">Jogos: {{bet.quantityBets}} | Acertos: {{bet.hits}}</span>
					</div>
        </ion-item>
      </div>
  	</ion-list>
  </ion-content>
</ion-view>