<ion-view>
  <ion-nav-bar class="bar-dark" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <div class="game-detail-nav-title">
        <div>
          <img ng-src="{{ctrl.game.teamA.img}}" class="game-detail-nav-title-left-team-img">
          <span class="game-detail-nav-title-text">
            {{ctrl.game.teamA.name}} x {{ctrl.game.teamB.name}}
          </span>
          <img ng-src="{{ctrl.game.teamB.img}}" class="game-detail-nav-title-right-team-img">
        </div>
      </div>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Total de gols do São Paulo no jogo
      </div>

        <div class="item item-button-right">
          Mais que 1
          <button class="button button-small button-positive">
            1,57%
          </button>
        </div>
        <div class="item item-button-right">
          Mais que 2
          <button class="button button-small button-positive">
            2,5%
          </button>
        </div>
        <div class="item item-button-right">
          Mais que 3
          <button class="button button-small button-positive">
            4%
          </button>
        </div>

      <div class="item item-divider">
        Vitória do Corinthians
      </div>

        <div class="item item-button-right">
          por 1x0
          <button class="button button-small button-positive">
            1,32%
          </button>
        </div>
    </div>
  </ion-content>
</ion-view>