<ion-view>
  <ion-nav-bar class="bar-dark" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <div class="game-detail-nav-title">
        <div>
          <img ng-src="{{ctrl.game.teamA.img}}" class="game-detail-nav-title-left-team-img">
          <span class="game-detail-nav-title-text">
            {{ctrl.game.teamA.name}} x {{ctrl.game.teamB.name}}
          </span>
          <img ng-src="{{ctrl.game.teamB.img}}" class="game-detail-nav-title-right-team-img">
        </div>
      </div>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    Tickets
  </ion-content>
</ion-view>