<ion-view view-title="Adicionar Aposta">
  <ion-content>
    <div id="formPlayer" ng-if="!ctrl.bet">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Apostador</span>
          <input type="text" placeholder="Nome do apostador" ng-model="ctrl.playerName">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Valor</span>
          <input type="text" placeholder="Valor a ser apostado" ng-model="ctrl.betAmount">
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" ng-click="ctrl.addBet()">Adicionar Aposta</button>
        </div>
      </div>
    </div>

    <div id="cardBet" ng-if="ctrl.bet">
    	<div class="card">
    		<div class="item item-divider item-positive">
    			Aposta Ativa
    		</div>
    		<div class="item text-wrap">
    			<div>
  					<strong>Apostador:</strong> {{ctrl.bet.playerName}}
    			</div>
    			<div>
  					<strong>Aposta:</strong> {{ctrl.bet.betAmount}}
    			</div>
    			<div>
  					<strong>Palpites:</strong> {{ctrl.bet.bets}}
    			</div>
    			<div>
  					<strong>Prêmio:</strong> R$ 5.000,00
    			</div>
    			<div>
            <a href="#/app/bet" class="button button-block button-stable">Detalhar aposta</a>
    				<button class="button button-block button-assertive" ng-click="ctrl.removeBet()">Excluir aposta</button>
    			</div>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>