<ion-view>
  <ion-nav-title>{{ctrl.championship.name}}</ion-nav-title>
  <ion-content>
  	<ion-list>
  		<ion-item ng-repeat="game in ctrl.games"
                href="#/app/tickets/{{game.id}}"
                class="item-icon-right">

        <div class="game-row">
          <img src="{{game.teamA.img}}" class="left-team-img">
          <div>
            {{game.teamA.name}} x {{game.teamB.name}}
            <div class="ticket-game-detail">{{game.date}} - {{game.time}}</div>
          </div>
          <img src="{{game.teamB.img}}" class="right-team-img">
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>