<ion-view view-title="Aposta Ativa">
  <ion-content>
  	<div class="card">
  		<div class="item item-divider item-positive">
  			Aposta Ativa
  		</div>
  		<div class="item text-wrap">
  			<div>
					<strong>Apostador:</strong> {{ctrl.bet.playerName}}
  			</div>
  			<div>
					<strong>Aposta:</strong> R$ {{ctrl.util.formattedValue(ctrl.bet.betAmount)}}
  			</div>
  			<div>
					<strong>Prêmio:</strong> R$ {{ctrl.util.formattedValue(ctrl.bet.jackpot())}}
  			</div>
  		</div>
  	</div>
    <div class="list">
      <div class="item item-divider">
        Palpites: {{ctrl.bet.tickets.length}}
      </div>
      <div class="item">
        <div style="display:flex;justify-content:center;align-items:center;">
          <img src="img/teams_logo/logo_gremio.png" class="left-team-img">
          <div>
            Grêmio x Sport
            <div class="ticket-game-detail">21/10 - 21:00</div>
          </div>
          <img src="img/teams_logo/logo_sport.png" class="right-team-img">
        </div>
      </div>
      <div class="item">
        <div style="display:flex;justify-content:center;align-items:center;">
          <img src="img/teams_logo/logo_nautico.png" class="left-team-img">
          <div>
            Náutico x Bahia
            <div class="ticket-game-detail">20/10 - 16:30</div>
          </div>
          <img src="img/teams_logo/logo_bahia.png" class="right-team-img">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>